
@charset "UTF-8";
/* CSS Document */

html,body,div {
    margin: 0;
    padding: 0;

}

#header{
    height:250px;
    width:100%;
    background-color:#cc3333;
    margin:0 auto;
}

#logo{
    width:205px;
    margin:0 auto;
    padding-top:60px;
}

#header img{

    margin:0 auto;
}

#nav {
    margin: 0 auto;
    text-align:center;
    padding-top:75px;
}

#nav ul {
    display:inline-block;
    list-style-type:none;
    list-style:none;
    margin:0;
    color:#FFF;
    font-size:20px;
    font-family: 'Dosis', sans-serif;

    /* for IE */
    zoom:1;
    *display:inline;
}

#nav li{
    display: inline-block;
    margin:10px

}

#nav a{
    display:block;
}
#wrapper{
    text-align:center;
    margin:0 auto;
    padding-top:20px;
}
#wrapper img {
    display:inline-block;
    padding:5px;
}

#title{
    color:white;
    padding-top:100px;
    margin:0 auto;
}

.content_wraper {
    width: 90%;
    margin: 0 auto;
}

.album {
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    font-size: .9em;
}

h3.albums_page  {
    margin: 5px 0 0 0;
}

#login_div  {
    width: 100px;
    float: right;
    margin-right: 100px;
}

h3#login_button  {
    padding: 20px 5px;
    background: #dddddd;
    text-align: center;
    border-radius: 50%;
}

#login_div a  {
    color: #555555;
    text-decoration: none;
}

.detail_wraper {
    width: 65%;
    margin: 0 auto;
}

.detail_information {
    width: 35%;
    text-align: justify;
}

.album_cover {
    margin-right: 9%;
}

footer {
    margin: 75px 0 0 0;
    background-color:#cc3333;
}

footer h6 {
    margin: 0;
    font-variant: small-caps;
    text-align: center;
    padding: 40px;
}

#searchbar {
    margin: 50px 0 0 25px;
}

#suggestionDiv {
    position:relative;
    margin-left: 17.25%;
    background: rgba(255,255,255,0.9);
    width: 180px;
    color: #000;
    border: 1px solid #cc3333;
    cursor: pointer;
    z-index: 10;
}

#suggestionDiv td:hover {
    background-color: rgba(0,0,0,0.2)
}

h4 {
    margin: 0;
}